%section#features.features
  .container
    .row-fluid
      .span3
        .feature
          %i.icon-question-sign.icon-2x.pull-left
          %h4 Co to jest Incydentnik?
          %p Incydentnik jest aplikacją, za pomocą której możesz zgłaszać incydenty miejskie.

      .span3
        .feature
          %i.icon-user.icon-2x.pull-left
          %h4 Dla kogo jest Incydentnik?
          %p Incydentnik jest dla każdego, kto porusza się pieszo po Krakowie i czuje się niebezpiecznie w pewnych miejscach.

      .span3
        .feature
          %i.icon-map-marker.icon-2x.pull-left
          %h4 Czym jest incydent?
          %p Incydent jest nieprzyjemnym zdarzeniem pasującym do jednej z podanych kategorii.

      .span3
        .feature
          %i.icon-eye-open.icon-2x.pull-left
          %h4 Po co zgłaszać incydenty?
          %p Dlatego, że zgłoszony incydent informuje innych o potencjalnym lub faktycznym zagrożeniu w danym miejscu.
