%section#slider.slider.text-center
  .container
    .row-fluid
      .span12
        #slider-carousel.carousel.slide
          .carousel-inner
            .item.active
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo1.png"}
            .item
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo2.png"}
            .item
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo3.png"}
            .item
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo4.png"}
            .item
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo5.png"}
            .item
              %img{:alt => "", :src => "/assets/layout/controllers/landing/tolo6.png"}

          %a.carousel-control.left{"data-slide" => "prev", :href => "#slider-carousel"} ‹
          %a.carousel-control.right{"data-slide" => "next", :href => "#slider-carousel"} ›
