%header#header.site-header
  .container
    .row-fluid
      .span12
        %h1
          %a.site-title.pull-left{:href => "/"}
            %i.icon-map-marker
            Incydentnik
        .user.text-right
          %a.user-login{:href => "#contact"} Kontakt
          |
          %a.user-regidter{:href => "#mal"} Mapa incydentów

  .container
    .row-fluid
      .span12
        .header-description
          %h2 Zaincydentuj miasto!
          %a.header-btn{:href => '#map'}
            %i.icon-map-marker
            Incydentuj!

        .header-features
          .row-fluid
            .span6.header-feature
              %h3
                %i.icon-random
                Współpraca
              %p
                W Krakowie mieszka, pracuje, studiuje i żyje wiele osób które
                tak samo jak Ty, zatroskane są swoim i swoich bliskich bezpieczeństwem.
                Współpracuj z innymi, dzieląc się Twoją wiedzą o tym mieście.
                Nie wymaga to wiele wysiłku a może pomóc innym osobom
                przebywającym w Krakowie.
            .span6.header-feature
              %h3
                %i.icon-group
                Bezpieczeństwo
              %p 
                Wędrowałeś nocą po nieznanym rejonie Krakowa? Czułeś się nieswojo?
                Może chciałbyś sprawdzić, czy teren po którym się poruszasz
                należy do niebezpiecznych? Uważasz, że warto coś poprawnić
                w miejscu które codziennie mijasz? Zaincydentuj to!
