%section#features.features
  .container
    .row-fluid
      .span3
        .feature
          %i.icon-globe.icon-2x.pull-left
          %h4 Used by Millions
          %p Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl.

      .span3
        .feature
          %i.icon-wrench.icon-2x.pull-left
          %h4 Developers Friendly
          %p Nullam ac magna sit amet Justo eu vulputate fermentum.

      .span3
        .feature
          %i.icon-desktop.icon-2x.pull-left
          %h4 Responsive
          %p From desktop tto mobile. Dignissim et dolor. Proin facilisis nulla vitae dui luctus ac pulvinar magna tincidunt.

      .span3
        .feature
          %i.icon-thumbs-up.icon-2x.pull-left
          %h4 Flat Design
          %p keeping up with trends, can impact your success. Integer.
