%header#header.site-header
  .container
    .row-fluid
      .span12
        %h1
          %a.site-title.pull-left{:href => "/"}
            %i.icon-map-marker
            Incydentnik
        .user.text-right
          %a.user-login{:href => "#contact"} Kontakt
          |
          %a.user-regidter{:href => "#search"} Mapa incydentów

  .container
    .row-fluid
      .span12
        .header-description
          %h2 Zaincydentuj miasto!
          %a.header-btn{:href => '#search'}
            %i.icon-map-marker
            Incydentuj!

        .header-features
          .row-fluid
            .span6.header-feature
              %h3
                %i.icon-random
                Współpraca
              %p
                W Krakowie mieszka, pracuje i studiuje wiele osób, które tak
                samo ja Ty zatroskane są bezpieczeństwem zarówno swoim, jak i
                swoich bliskim. Współpracuj z innymi, dziel się Twoją wiedzą
                oraz doświadczeniem związanym z miastem! Jedno kliknięcie nie
                wymaga wysiłku, a może zmienić miasto na lepsze, a przy okazji
                bezpieczniejsze. Także nie czekaj – miej wpływ na to się wokół
                Ciebie dzieje – działaj!
            .span6.header-feature
              %h3
                %i.icon-group
                Bezpieczeństwo
              %p 
                Wędrowałeś nocą po nieznanym rejonie Krakowa? Czułeś się nieswojo?
                Może chciałbyś sprawdzić, czy teren po którym się poruszasz
                należy do niebezpiecznych? Uważasz, że warto coś poprawnić
                w miejscu, które codziennie mijasz? Zaincydentuj to!
