%section#testimonials.testimonials
  .container
    #testimonials-carousel.carousel.slide
      .carousel-inner
        .item.active
          .row-fluid
            .span12
              %blockquote
                %div
                  %i.icon-quote-left
                  %p Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl. Proin facilisis nulla vitae dui luctus ac pulvinar magna tincidunt.
                  %small
                    Someone famous
                    %cite{:title => "Source Title"} Source Title
        .item
          .row-fluid
            .span12
              %blockquote
                %div
                  %i.icon-quote-left
                  %p Curabitur fringilla, elit pulvinar auctor tincidunt, arcu nibh adipiscing velit, at tincidunt libero nisl sit amet nisl. Proin facilisis nulla vitae dui luctus ac pulvinar magna
                  %small
                    Someone famous
                    %cite{:title => "Source Title"} Source Title
        .item
          .row-fluid
            .span12
              %blockquote
                %div
                  %i.icon-quote-left
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  %small
                    Someone famous
                    %cite{:title => "Source Title"} Source Title
      %a.carousel-control.left{"data-slide" => "prev", :href => "#testimonials-carousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#testimonials-carousel"} ›
