%section#prices.prices
  .container
    .row-fluid
      .span4
        .plan.plan-1
          %h4.plan-title
            %a{:href => '#'} Starter Plan
          %ul.unstyled.plan-features
            %li
              %a{:href => '#'} Quisque convallis
            %li
              %a{:href => '#'} Eros ut tincidunt
            %li
              %a{:href => '#'} Pellentesque ac
            %li
              %a{:href => '#'} Sed tempor metus
          %p.plan-price.text-center
            %a{:href => '#'} Free

      .span4
        .plan.plan-2
          %h4.plan-title
            %a{:href => '#'} Business Plan
          %ul.unstyled.plan-features
            %li
              %a{:href => '#'} Quisque convallis
            %li
              %a{:href => '#'} Eros ut tincidunt
            %li
              %a{:href => '#'} Pellentesque ac
            %li
              %a{:href => '#'} Sed tempor metus
            %li
              %a{:href => '#'} Morbi eu ante
            %li
              %a{:href => '#'} Eu ante iaculis
            %li
              %a{:href => '#'} Interdum non at turpis
          %p.plan-price.text-center
            %a{:href => '#'} $19 / month

      .span4.plan-3
        .plan
          %h4.plan-title
            %a{:href => '#'} Pro Plan
          %ul.unstyled.plan-features
            %li
              %a{:href => '#'} Quisque convallis
            %li
              %a{:href => '#'} Eros ut tincidunt
            %li
              %a{:href => '#'} Pellentesque ac
            %li
              %a{:href => '#'} Sed tempor metus
            %li
              %a{:href => '#'} Cras vel risus
            %li
              %a{:href => '#'} Tortor nullam condimentum
            %li
              %a{:href => '#'} Dignissim arcu
            %li
              %a{:href => '#'} Vulputate volutpat
            %li
              %a{:href => '#'} Elit ultrices in
          %p.plan-price.text-center
            %a{:href => '#'} $29 / month
